@import "tailwindcss";
@font-face {
  font-family: "heading", sans-serif;
  src: url("/papercuts-2.ttf") format("truetype");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --heading: "heading", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-body: var(--body);
  --font-heading: var(--heading);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-cursive: var(--font-cursive);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font-body);
}
h1 {
  color: var(--accent);
}
